<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5">

<welcome-file-list>
<welcome-file>index.jsp</welcome-file>
</welcome-file-list>


<error-page>
    <error-code>403</error-code>
    <location>/error.jsp</location>
</error-page>

<security-constraint>
<web-resource-collection>
<web-resource-name>Simple Web Resource</web-resource-name>
<url-pattern>/admin/*</url-pattern>
<http-method>GET</http-method>
<http-method>POST</http-method>
</web-resource-collection>
<auth-constraint>
<role-name>admin</role-name>
</auth-constraint>

</security-constraint>
<login-config>
<auth-method>BASIC</auth-method>
<realm-name>myrealm</realm-name>
</login-config>
<security-role>
<role-name>admin</role-name>
</security-role>

</web-app>